* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
.layout {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    min-height: 100vh;
}

.sidebar {
    color: white;
    padding: 20px;
    position: fixed;
    width: 15%;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    grid-column: 2;
    padding: 20px;
}